{% extends 'base.html.twig' %}

{% block title %}Register - Nasa API{% endblock %}

{% block body %}
    <div class="formContainer">
        <h1 class="formHeader">Registration</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
        <div class="webflow-style-input">
            <label>
                {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email'}}) }}
            </label>
        </div>

        <div class="webflow-style-input">
            <label>
                {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Password'}}) }}
            </label>
        </div>
        <button type="submit" class="button">Register</button>
        <a href="{{ path('app_login') }}">Log in</a>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
