<!DOCTYPE html>
<html lang="pl" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta lang="en">
        <meta name="description" content="Nasa API provider">
        <title>{% block title %}Nasa API{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ asset('build/images/favicon.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% include '/layout/_header.html.twig' %}

        {% block body %}{% endblock %}

        <div class="flashMessagesContainer">
            {% for flash_error in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flash_error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% for flash_warning in app.flashes('warning') %}
                <div class="alert alert-warning" role="alert">
                    {{ flash_warning }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% for flash_info in app.flashes('info') %}
                <div class="alert alert-info" role="alert">
                    {{ flash_info }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% for flash_success in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ flash_success }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% block flash_messages %} {% endblock %}
        </div>

    </body>
</html>
