{# templates/bundles/NelmioApiDocBundle/SwaggerUi/index.html.twig #}

{#
To avoid a "reached nested level" error an exclamation mark `!` has to be added
See https://symfony.com/blog/new-in-symfony-3-4-improved-the-overriding-of-templates
#}
{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}
{% block title %}
    Documentation - Nasa API
{% endblock %}
{% block meta %}
    <link rel="icon" href="{{ asset('build/images/favicon.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{#
Change swagger UI configuration
All parameters are explained on Swagger UI website:
https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/
#}
{% block swagger_initialization %}
    <script type="text/javascript">
        window.onload = loadSwaggerUI({
            defaultModelsExpandDepth: -1,
            deepLinking: true,
        });
    </script>
{% endblock %}
{% block swagger_ui %}
    <div id="swagger-ui" class="api-platform"></div>
{% endblock %}
{% block header_block %}
    {% include '/layout/_header.html.twig' %}
{% endblock %}

{# Import your own stylesheet #}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom-swagger-styles.css') }}">
    {{ encore_entry_link_tags('app') }}
{% endblock stylesheets %}

{# Import your own script #}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/custom-request-signer.js') }}"></script>
{% endblock javascripts %}